* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    margin: auto;
}

.debug>.corpo {
    height: 750px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.testa {
    margin-top: 1.5rem;
    height: 80px;
    background-color: #e579e6;
}

.corpo {
    margin-top: 1rem;
}

.ciccio {
    margin-top: 1rem;
    background-color: #e1d67a;
    height: 300px;
}

.pippo {
    margin-top: 1rem;
    height: 100px;
    background-color: #abcfe7;
}

.contenitore {
    background-color: #0086ff;
    height: 334px;
}

.box1, .box2 {
    float: left;
}

.box1 {
    background-color: #abcfe7;
    height: 300px;
    width: 15%;
    margin-top: 1rem;
}

.box2 {
    background-color: #abcfe7;
    height: 300px;
    width: 68%;
    margin: 1rem 1% 0 1%;
}

.pièdipagina {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 80px;
    background-color: #8801fe;
}